---
##########################
# project: ceph

ceph_version: "{{ version }}"
ceph_revision: {{ revision }}

ceph_docker_image: osism/ceph-daemon
ceph_docker_image_tag: "{{ '{{' }} ceph_version {{ '}}' }}-{{ '{{' }} ceph_revision {{ '}}' }}"
