---
osism_version: {{ osism_version }}

##########################
# project: ceph

ceph_version: "{{ version }}"

ceph_docker_image: osism/ceph-daemon
ceph_docker_image_tag: "{{ '{{' }} ceph_version {{ '}}' }}-{{ '{{' }} osism_version {{ '}}' }}"

