---
docker_registry: index.docker.io

##########################
# project: ceph

ceph_version: "{{ version }}"
ceph_revision: {{ revision }}

ceph_docker_image: ""{{ '{{' }} docker_registry {{ '}}' }}/osism/ceph-daemon"
ceph_docker_image_tag: "{{ '{{' }} ceph_version {{ '}}' }}-{{ '{{' }} ceph_revision {{ '}}' }}"
